<h4>Hello</h4>

<p>please do not reply to this email</p>
<p>This email is to inform you an account with a three month subscription has been actived assoiated with your email at www.wreckhousepress.com</p>
<p>copy the token below and follow the link to complete the process and transfer your acount and subscription</p>
<br/>
<p><i>if you've recieved more then one of these emails, please ensure you are using the most recent token you've recieved</i></p>


<br/>
token: <h2><%= @raw_user.token %></h2>
<br/>
here: https://wreckhousepress.com/legacy_reset
