<h4>Hello</h4>

<p>please do not reply to this email</p>
<p style=''>We are happy to inform you Wreckhouse Press has updated website! copy the token below and follow link to complete the process and transfer your acount and subscription</p>
<br/>
token: <h2><%= @raw_user.token %></h2>
<br/>
here: https://wreckhousepress.com/legacy_reset
