<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You got a new order from <%= @test %>!</p>
    <p>
    Message:<br>
    ----------
    </p>
    <p>testestest</p>
  </body>
</html>