

<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      # body {color: 'blue'   }
      h2 { color: 'red' }
      

    </style>
  </head>

  <body>
    <%= yield %>
  </body>
  <br/>
    <div>
    <i>(709) 695-2389</i>
   <i> PO Box 773, Port aux Basques, NL A0M 1C0</i>
    </div>

</html>
